@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url(/unillax/fonts/Rubik/Rubik-BlackItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic;
}